name: cs_flutter_module
description: A new Flutter module project.

version: 1.0.0+1

environment:
  sdk: '>=3.1.5 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  protobuf: ^3.1.0
  path_provider: ^2.1.1
  path: ^1.8.3


dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.1

flutter:
  uses-material-design: true
  assets:
    - assets/images/

  module:
    androidX: true
    androidPackage: com.example.cs_flutter_module
    iosBundleIdentifier: com.example.csFlutterModule

